.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.details {
  background: rgba(125, 114, 114, 0.884);
  height: 85vh;
  width: calc(100%-40px);
  border-radius: 3px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto;
}

@media (max-width: 64em) {
  .details {
    height: 40vh;
  }
}
